* {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.618em;
  margin: 0;
  padding: 0;
  }
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}
.grid-title {
  grid-column:1 /2;
  padding: 10px;
  text-align: center;
}
.grid-image {
  border-radius: 25px;
  grid-column:1 /2;
  padding: 10px;
  text-align: center;
}
.grid-copyright {
  grid-column:1 /2;
  text-align: center;
}
.grid-nickname {
  grid-column:1 /2;
  padding: 10px;
  text-align: center;
}
.grid-reviewCategory {
  grid-column:1/2;
  padding: 10px;
  text-align: center;
}
.grid-content {
  grid-column:1/2;
  grid-row:6/11;
  padding: 10px;
}
.grid-nationality {
  grid-column:2/2;
  grid-row:7/8;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
}
.grid-loveInterests {
  grid-column:2/2;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
}
.grid-weaponsOfChoice {
  grid-column:2/2;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
}
.grid-fightingStyles {
  grid-column:2/2;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
}
.grid-specialSkills {
  grid-column:2/2;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
}
a:hover{
  background-color: #add8e6;
}

  footer {
    background: #666;
    color: #fff;
    margin-bottom: 1em;
    margin-top: 2em;
    padding: 1em 1em;
    text-align: center;
  }

  header,
  main,
  footer {
  margin: 0 auto;
  max-width: 800px;
  }

html {
  font-size: 16px;
  margin-top: 3em;
}

img{
border-radius:8px;
}

main{
  display:grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

nav {
  background: #333;
  display: flex;
  flex-flow: row;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

nav a {
  border-radius: 8px;
  color: #fff;
  padding: 0.5em 2em;
  text-decoration: none;
}

nav a:hover {
  background: #888;
}

ul{
padding: 1em 1em;
}