<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Team Avatar</title>
</head>
<body>

<header>
    <link href = "/css/styles.css" rel = "stylesheet"/>
    <h1>Team Avatar</h1>
</header>

<main>
    <div class="team-avatar-grid-content">
            <p th:each="review: ${reviewsModel}"><a th:href="@{/review(id=${review.id})}"> <img th:src="${review.image}">
           </a></p>
    </div>
</main>

<footer>
    <small>&copy roseholmesminton 2021</small>
</footer>

</body>
</html>