<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${reviewModel.title}"></title>
</head>
<body>

<header>
    <link href="/css/styles.css" rel="stylesheet"/>
    <nav>
        <a href="/reviews">Team Avatar</a>
    </nav>
</header>

<main>
    <div class="grid-container">
        <div class="grid-title">
            <h1  th:text="${reviewModel.title}"></h1>
        </div>
        <div class="grid-image">
            <p><img th:src="${reviewModel.image}"></p>
        </div>
        <div class="grid-nickname">
            <h5 th:text="' Nickname: ' + ${reviewModel.nickname}"></h5>
        </div>
        <div class="grid-reviewCategory">
            <h3 th:text="${reviewModel.reviewCategory}"></h3>
        </div>
        <div class="grid-content">
            <p th:text="${reviewModel.content}"></p>
        </div>
        <div class="grid-nationality">
            <span class="nationality">Nationality: </span>  <span th:text=" ${reviewModel.nationality}"></span>
        </div>
            <div class = "grid-loveInterests">
        <span class="loveInterests">Love Interests: </span> <span th:text=" ${reviewModel.loveInterests}"></span>
        </div>
        <div class="grid-weaponsOfChoice">
            <span class="weaponsOfChoice">Weapons of Choice: </span>  <span th:text=" ${reviewModel.weaponsOfChoice}"></span>
        </div>
        <div class="grid-fightingStyles">
            <span class="fightingStyles">Fighting Styles: </span>  <span th:text=" ${reviewModel.fightingStyles}"></span>
        </div>
        <div class="grid-specialSkills">
            <span class="specialSkills">Special Skills: </span>  <span th:text=" ${reviewModel.specialSkill}"></span>
        </div>
    </div>
</main>
<footer>
    <small>&copy roseholmesminton 2021</small>
</footer>

</body>
</html>